<!-- BEGIN PAGE HEADER-->
	<div class="col-sm-12">
		<h3 class="page-title">Dashboard</h3>
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<i class="fa fa-home"></i>
					<a href="/panel/index">Home</a>
					<i class="fa fa-angle-right"></i>
				</li>
				<li>
					<a href="/panel/index">Dashboard</a>
				</li>
			</ul>
		</div>
	</div>
<!-- END PAGE HEADER-->

	<div class="clearfix">
	</div>


	<div class="col-sm-6">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-share font-green-haze hide"></i>
					<span class="caption-subject font-green-haze bold uppercase">Recent Tickets</span>
				</div>
				<div class="actions">
					
				</div>
			</div>
			<div class="portlet-body">
				<div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
					<table class="table hover" id="ticketsTable">
						<thead>
							<tr role="row">
								<th style="width: 175px;">
									Title
								</th>
								<th style="width: 224px;">
									Description
								</th>
								<th style="width: 30px;">
									Action
								</th>
							</tr>
						</thead>
						<tbody>
							<tr role="row" ng-repeat="ticket in tickets">
								<td class="ticket-title">
									<span class="ticket-title-sp">
										{{ticket.title | limitTo : 20}} 
									</span>
								</td>
								<td class="sorting_1">
									<span class="ticket-description-sp">
										{{ticket.description | limitTo : 30}} 
									</span>
								</td>
								<td>
									<a href="/panel/ticket/{{ticket.batch_id}}" class="btn btn-xs default"><i class="fa fa-search"></i> View</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="scroller-footer">
					<div class="btn-arrow-link pull-right">
						<a href="/panel/ticket">See All Records</a>
						<i class="icon-arrow-right"></i>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="col-sm-6">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-share font-blue-steel hide"></i>
					<span class="caption-subject font-blue-steel bold uppercase">Board</span>
				</div>
				<div class="actions">
					
				</div>
			</div>
			<div class="portlet-body">
				<div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
				<table class="table hover" id="boardsTable">
						<thead>
							<tr role="row">
								<th style="width: 175px;">
									Title
								</th>
								<th style="width: 224px;">
									Description
								</th>
								<th style="width: 30px;">
									Action
								</th>
							</tr>
						</thead>
						<tbody>
							<tr role="row" ng-repeat="item in boardItems" >
								<td class="board-title">
									<span class="board-title-sp">
										{{item.title}} 
									</span>
								</td>
								<td class="sorting_1">
									<span class="board-description-sp">
										{{item.description | limitTo : 35}} 
									</span>
								</td>
								<td>
									<a ng-href="/panel/board/{{item.id}}" class="btn btn-xs default"><i class="fa fa-search"></i> View</a>
								</td>
							</tr>
						</tbody>
					</table>
			</div>
			<div class="scroller-footer">
				<div class="btn-arrow-link pull-right">
					<a href="/panel/board">See All Records</a>
					<i class="icon-arrow-right"></i>
				</div>
			</div>
			</div>
		</div>
	</div>