<!-- BEGIN PAGE HEADER-->
	<div class="col-sm-12">
		<h3 class="page-title">Ticket</h3>
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<i class="fa fa-home"></i>
					<a href="/panel/index">Home</a>
					<i class="fa fa-angle-right"></i>
				</li>
				<li>
					<a href="/panel/ticket">Ticket</a>
				</li>
			</ul>
		</div>
	</div>
<!-- END PAGE HEADER-->

	<div class="clearfix">
	</div>


<div class="col-sm-12">
	<div class="portlet light">
		<div class="portlet-title">
			<div class="caption">
				<i class="icon-share font-green-haze hide"></i>
				<span class="caption-subject font-green-haze bold uppercase">Ticket</span>
			</div>
			<div class="actions">
				<!--<script type="text/ng-template" id="/tpl.html">
					Content of the template.
				</script>

				 <a ng-click="currentTpl='/tpl.html'" id="tpl-link">Load inlined template</a>
				<div id="tpl-content" ng-include src="currentTpl"></div> -->

				<div class="btn-group">
					<a class="btn green-haze btn-circle btn-sm" ng-click="open()" href="" data-toggle="dropdown" dropdown-menu-hover="" data-close-others="true" aria-expanded="true">
						<i class="fa fa-plus"></i> New Ticket 
					</a>
				</div>

			</div>
		</div>
		<div class="portlet-body">
			<div data-always-visible="1" data-rail-visible="0">
				
			</div>
			<div class="scroller-footer">
				<div class="btn-arrow-link pull-right">
					
				</div>
			</div>
		</div>
	</div>
</div>



<script type="text/ng-template" id="/newTicketModal.html">
	<div class="modal-header"> 
		<h3 class="modal-title">New Ticket</h3>
	</div>
	<div class="modal-body form-horizontal" id="createTicket">
		<div class="form-group">
			<label class="col-sm-3 control-label" style="text-align:right" for="title">Title</label>
			<div class="col-sm-9">
				<div class="input-group" style="width: 100%;" >
					<span class="twitter-typeahead" style="position: relative; display: inline-block; direction: ltr; width: 100%;">
						<input type="text" id="title" name="title" class="form-control tt-input" autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top; background-color: transparent;" />
					</span>
				</div>
			</div>
		</div>


		<div class="form-group">
			<label class="col-sm-3 control-label" style="text-align:right" for="description">Description</label>
			<div class="col-sm-9">
				<div class="input-group" style="width: 100%;" >
					<span class="twitter-typeahead" style="position: relative; display: inline-block; direction: ltr; width: 100%;">
						<textarea id="description" name="description" class="form-control tt-input" autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top; background-color: transparent;"></textarea>
					</span>
				</div>
			</div>
		</div>


		<div class="form-group">
			<label class="control-label col-sm-3" style="text-align:right">Attachment</label>
			<div class="col-sm-9">
			</div>
		</div>

	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="submitTicket()" data-loading-text="submitting">submit</button>
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</script>